* {
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
    background-color: rgb(43,93,95);
    font-family: Helvetica;
    display:grid;
    /* adding two columns across both axis rather than adjust margins */
    /* HIDING SO NO ERROR CODES FOR NOW
    grid-template-rows: - - - -;
    grid-template-columns: - - - - _ _; 
    */
  }

  span {
    display:block;
  }

  /* .cardContainer {
    display:flex;
  } */

  #vertical {
    display:grid;
  }

  #horizontal {
    display:grid;
  }

  .cardContainer{
    background-color: white;
  }

  .rates, #hInfo {
    background-color: rgb(243,243,243);
  }

  /*


  SOME STUFF THAT APPLY TO MORE THAN ONE ELEMENT IN THE HTML


  */

  #phone, #msg, #vertical{
    text-align: center;
  }

  /* 
  
  CONTACT BUTTON STYLING GOES HERE 
  
  */

  .contactButtons{
    color: #ffffff;
  }

  #phone{
    background-color: rgb(130,207,144);
    text-align: center;
  }

  #msg{
    background-color: rgb(116,187,129);
    text-align: center;
  }

  /* 
  
  RATING AND WHATEVER THIS JOB TITLE IS GOES HERE 
  
  */